<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.jenkins-service</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/cliang/src/gitrepo/personal/docker/jenkins-service/jenkins.sh</string>
        <string>start</string>
        <string>2.516.1</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/cliang/src/gitrepo/personal/docker/jenkins-service</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/cliang/Library/Logs/jenkins-service.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/cliang/Library/Logs/jenkins-service-error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
