[Unit]
Description=Jenkins Container Service
After=network-online.target podman.service
EnvironmentFile=-/etc/sysconfig/jenkins.sysconfig
Wants=network-online.target
Requires=podman.service

[Service]
Type=oneshot
User=jenkins
Group=jenkins
Environment="MACHINE_NAME=podman-machine-default"
Environment="JENKINS_HOST=localhost"
Environment="JENKINS_SSH_PORT=2233"
Environment="JENKINS_USER=admin"
EnvironmentFile=-/etc/sysconfig/jenkins
+EnvironmentFile=-/etc/sysconfig/jenkins.sysconfig
+ExecStart=/usr/local/bin/jenkins.sh start
+ExecStop=/usr/local/bin/jenkins.sh stop
ExecRestart=/usr/bin/bash -c '/home/jenkins/jenkins-service/jenkins.sh restart'
RemainAfterExit=yes
TimeoutStartSec=300
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
